anyio==4.14.1
asgiref==3.11.1
certifi
Django==6.0.3
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
mysqlclient==2.2.8
packaging==26.2
pillow==12.2.0
PyMySQL==1.1.2
python-telegram-bot==22.8
setuptools==82.0.1
sqlparse==0.5.5
tzdata==2025.3
wheel==0.47.0
